apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: async-producer
  namespace: knative-serving
spec:
  template:
    spec:
      containerConcurrency: 1
      containers:
      - image: ko://knative.dev/async-component/cmd/producer
        env:
          - name: REDIS_ADDRESS
            value: redis.redis.svc.cluster.local:6379
          - name: REDIS_STREAM_NAME
            value: mystream
          - name: REQUEST_SIZE_LIMIT
            value: "6000000"